body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    user-select: none;
    margin: 0px;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
}

.grid-item {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
}